        /*RESET*/
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: bordor-box;
            border: none;
        }
        /*Main styling*/
        
        html,
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.7em;
            background-color: #ddd;
        }
        
        a {
            color: #fff;
            text-decoration: none;
        }
        
        h1,
        h2 {
            padding-bottom: 20px;
        }
        
        p {
            margin: 20px 0;
        }
        /*form styling*/
        
        input {
            font-family: FontAwesome;
            width: 100%;
            padding: 7px;
            margin: 5px;
            border: none;
            border-radius: 4px;
            outline: none;
        }
        
        div {
            display: block;
        }
        
        input:focus {
            border: 1px solid grey;
        }
        
        input[type=radio] {
            width: 10%;
        }
        
        textarea {
            width: 100%;
            padding: 7px;
            margin: 5px;
            border: none;
            border-radius: 4px;
            outline: none;
        }
        
        select {
            width: 100%;
            padding: 7px;
            margin: 5px;
            border: none;
            border-radius: 4px;
            outline: none;
        }
        /*utility Class*/
        
        #registration-form .container {
            max-width: 768px;
            margin: auto;
            background-color: #eee;
            align-content: center;
            padding: 100px 50px;
        }
        
        #assignments .question {
            float: left;
            width: 45%;
            min-height: 500px;
            background-color: #eee;
            padding: 20px 20px;
            margin: 80px 10px 10px 10px;
        }
        
        #assignments .answer {
            float: right;
            width: 45%;
            min-height: 500px;
            background-color: #eee;
            padding: 20px 20px;
            margin: 80px 10px 10px 10px;
        }
        
        #registration-form .container .center-text {
            padding-left: 22%;
            font-size: xx-large;
        }
        
        .btn {
            display: block;
            font-size: 18px;
            background: #333333;
            color: #fff;
            padding: 13px 20px;
            border-radius: 10px;
            cursor: pointer;
        }
        
        .btn:hover {
            background: #817e7b;
            color: #111;
        }
        /*Navbar styling*/
        
        #navbar {
            width: 100%;
            position: fixed;
            background-color: #333;
            color: #fff;
            overflow: auto;
        }
        
        #navbar .logo {
            padding-top: 20px;
            padding-left: 30px;
            text-align: center;
        }
        /* Footer */
        
        #main-footer {
            clear: both;
            position: relative;
            bottom: 0;
            width: 100%;
            text-align: center;
            background: #444;
            color: #fff;
            padding: 5px;
        }
        
        #main-footer-noScroll {
            clear: both;
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            background: #444;
            color: #fff;
            padding: 5px;
        }
        /*login box styling*/
        
        #login-form .login {
            position: absolute;
            width: 400px;
            height: 270px;
            /* Center form on page horizontally & vertically */
            top: 50%;
            left: 50%;
            margin-top: -150px;
            margin-left: -230px;
            background-color: #eee;
            text-align: center;
            padding: 20px;
            padding-right: 30px;
            border-radius: 10px;
        }
        
        .icon {
            color: #222;
            width: 50px;
            text-align: center;
        }
        
        .login input {
            width: 80%;
            padding: 10px;
            font-size: medium;
        }
        
        .login_btn {
            margin: auto;
            margin-top: 20px;
            padding: 15px;
        }
        
        #login-form .login a {
            color: rgb(38, 24, 240);
        }
        /* Colors */
        
        .black {
            background-color: #111;
            margin: 10px;
        }
        
        .black:hover {
            background: rgb(116, 153, 155);
        }